<div class="results">
  <div *ngFor="let offer of offers">
      <div class="offer-card">
          <div class="hotel-name">{{offer['hotel_name']}}</div>
          <div class="city">{{offer.city}}</div>
          <div class="ratings">{{offer.ratings}}</div>
          <div class="total-cost">{{offer['total_cost']}}</div>
        </div>
  </div>
</div>