<div class="offer-card">
  <div class="hotel-name">{{hotelOffer.hotelName}}</div>
  <div class="city">{{hotelOffer.city}}</div>
  <div class="ratings">{{hotelOffer.ratings}}</div>
  <div class="total-cost">{{hotelOffer.totalCost}}</div>
</div>
