  <form (ngSubmit)="submitForm(form)" class="form-inline" #form="ngForm">

    <div class="inputs">
      <div class="date fromDate">
        <div class="caption">Дата заезда</div>
        <div class="form-group">
          <input

                 type="date"
                 class="form-control"
                 ngModel
                 name="fromDate"
                 #fromDate="ngModel"
                 [class.invalid]="fromDate.invalid && fromDate.touched"
                 [class.valid]="fromDate.valid && fromDate.touched"
                 required>
        </div>
      </div>

      <div class="date toDate">
        <div class="caption">Дата выезда</div>
        <div class="form-group">
          <input
                 type="date"
                 class="form-control"
                 ngModel
                 name="toDate"
                 required
                 #toDate="ngModel"
                 [class.invalid]="toDate.invalid && toDate.touched"
                 [class.valid]="toDate.valid && toDate.touched">
        </div>
      </div>

      <div class=" person-count">
        <div class="caption"> Кол-во человек</div>
        <div class="form-group">
          <input
                 type="number"
                 class="form-control"
                 ngModel
                 name="personCount"
                 pattern="[1-9]"
                 required
                 #personCount="ngModel"
                 [class.invalid]="personCount.invalid && personCount.touched"
                 [class.valid]="personCount.valid && personCount.touched">
        </div>
      </div>

      <div class="price min-price">
        <div class="caption">Цена от...</div>
        <div class="form-group">
          <input
                 type="text"
                 class="form-control"
                 ngModel
                 name="minPrice"
                 pattern="^[0-9]+$"
                 required
                 #minPrice="ngModel"
                 [class.invalid]="minPrice.invalid && minPrice.touched"
                 [class.valid]="minPrice.valid && minPrice.touched">
        </div>
      </div>
      <div class="price max-price">
        <div class="caption">Цена до...</div>
        <div class="form-group">
          <input
                 type="text"
                 class="form-control"
                 ngModel
                 name="maxPrice"
                 pattern="^[0-9]+$"
                 #maxPrice="ngModel"
                 [class.invalid]="maxPrice.invalid && maxPrice.touched"
                 [class.valid]="maxPrice.valid && maxPrice.touched"
                 required>
        </div>
      </div>

    </div>
    <div class="button">
      <button type="submit" class="btn btn-success search">Search</button>
    </div>
  </form>