html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #303030;
}
header {
  height: 50px;
  background: #28a745;
}

app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  height: 90px;
  background: #28a745;
}
